div#header {
  background-color: #ffffff;
  z-index: 4;
}

button {
  margin-left: 8px;
  margin-right: 8px;
  padding: 5px;
  font-size: 12px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
h1 {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 80px;
  color: #f6f5f6;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1.5px 1.5px 0 #000;
  font-size: 50px;
}
form {
  margin-top: 10px;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}
